.ips-font-mono {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 1em;
}

.ips-toolbar-qry-input,
.ips-toolbar-qry-input-p100 {
  padding-left: 30px !important;
  background: url(../img/search-16.png) no-repeat 8px;
}

.ips-toolbar-qry-input {
  width: 200px;
}


#ips-infols a.item_title {
  font-size: 1.2em;
  line-height: 100%;
}

.ips-div-light {
  clear: both;
  background-color: #fff;
  margin: 0 10px;
  padding: 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.ips-pkginfo-tiles {
  position: relative;
  left: 0px;
  right: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.ips-pkginfo-tile {
  position: relative;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
  background-color: #ECF0F1;
  width: 300px;
  height: 170px;
  margin: 0 10px 20px 10px;
  text-align: center;
  flex: 1 0 300px;
  box-sizing: border-box;
}

.ips-pkginfo-tile:empty {
  height: 0;
  border: none;
  margin-bottom: 0;
}

.ips-pkginfo-tile:hover {
  outline: #BDC3C7 solid 3px;
}

.ips-pkginfo-tile .ct-content {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
  height: 100px;
  text-align: center;
}

.ips-pkginfo-tile .ct-label {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
}

.ips-pkginfo-tile .status {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.07);
  text-align: center;
}

.ips-pkginfo-tile .title {
  font-size: 18px;
  padding: 2px 0;
  font-weight: bold;
  line-height: 100%;
}


.ips-form-checkbox {
  margin: 0 20px 0 0;
  padding: 10px 0;
}